@media only screen and (min-width:320px) {
    .header {
        padding: 15px;
        &__img {
            width: 50px;
        }
        &__navigation,
        &__control {
            display: none;
        }
        &__user-image {
            display: block;
            width: 25px;
        }
    }
}