@media only screen and (min-width:320px) {
    .header {
        padding: 15px;

        &__logo {
            &-go {
                width: 32px;
                margin-right: -4px;
            }
            &-it {
                width: 24px;
            }
        }
        &__img {
            width: 50px;
        }
        &__navigation,
        &__control {
            display: none;
        }
        &__user-image {
            display: block;
            width: 100%;
            height: auto;
        }
        &__image-block {
            width: 17px;
            height: 17px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid black;
        }
        &__profile {
            display: none;
        }
    }
}