@media only screen and (min-width:768px) {
    .summary {
      background-color: $main-background;
      min-height: calc(100vh - 108px);
      &__case {
          box-sizing: border-box;
        width: 336px;
        height: 412px;
        background-color: #ffffff;
        margin-top: 80px;
        margin-bottom: 200px;
        padding: 32px;
      }
      &__primarititle {
        font-size: 30px;
      }
      &__secondarytitle {
        font-size: 20px;
      }
      &__result {
          box-sizing: border-box;
        width: 270px;
        height: 168px;
      }
      &__box{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          &-btn{
              width: 126px;
          }
      }
    }
  }
  