@media only screen and (min-width: 1200px) {
	.game {
		max-width: 1024px;
		align-items: flex-start;
		
		.cards {
			flex-basis: 68%;
			&__block {
				justify-content: space-evenly;
			}
			&__item {
				flex-basis: 0;

			}
		}
		.questions {
			flex-basis: 30%;

		}
		.buttons {
			margin-left: 33%;
		}
		&__button-block {
			margin-left: 33%;
		}
	}
}	