.game {
	background-color: $main-background;
	padding-bottom: 30px;

	.cards {
		padding-top: 15px;
		
		&__header {
			font-family: $roboto-font;
			text-align: center;
			font-size: 20px;
			font-weight: 500;
			padding-bottom: 28px;
		}
		&__block {
			display: flex;
			justify-content: space-between;
			padding-left: 16px;
			padding-right: 16px;
			margin-bottom: 35px;	
		}
		&__item {
			flex-basis: 33%;
		}
		&__image {
			display: block;
			width: 75%;
			height: auto;
			margin: 0 auto 5px;
		}
		&__name {
			font-size: 10px;
			font-family: $ubuntu-font;
			text-align: center;
			font-weight: 500;
		}
	}
	.buttons {
		margin-right: 16px;
		margin-left: 16px;

		&__options {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__option-block {
			flex-basis: 50%;
		}
		&__item {
			display: block;
			margin: 0 auto 15px;
			cursor: pointer;
			transition: all 0.2s;
			
			&:hover {
				@include buttons-orange (137px, 8px, 11px);

				& .buttons__icon-flip {
					animation: rotate 1s ease-in-out;
				}

				& .buttons__icon-reset {
					//animation: rotate 1s ease-in-out;
					transform: scaleX(-1);
					animation: rotate-reverse 1s ease-in-out;
				}

				& .buttons__icon-previous {
					animation: left 1s infinite linear;
				}
				& .buttons__icon-next {
					animation: right 1s infinite linear;
				}


			}		
		}
		&__text-reset {
			margin-left: 8px;	
		}
		&__icon-flip {
			width: 10px;
			height: 10px;
			padding-right: 8px;
			position: relative;
			bottom: -2px;
			transform-origin: 35% 50%;
		}
		&__icon-reset {
			width: 10px;
			height: 10px;
			padding-left: 8px;
			position: relative;
			bottom: -2px;
			transform: scaleX(-1);
			transform-origin: 70% 50%;
		}
		&__icon-next {
			width: 10px;
			height: 10px;
			padding-right: 8px;
			position: relative;
			bottom: -2px;
		}
		&__icon-previous {
			width: 10px;
			height: 10px;
			padding-right: 8px;
			position: relative;
			bottom: -2px;
		}
		&__cards {
			display: flex;
			flex-wrap: wrap;
			margin-top: 15px;
		}
		&__card-block {
			flex-basis: 20%;
			margin-bottom: 15px;
		}
		&__card-item {
			
			display: block;
			margin: auto;
			width: 40px;
			height: 65px;
			border-radius: 2px;
			color: $form-font;
			background-color: $buttom-font;
			font-family: $roboto-font;
			font-size: 23px;
			text-align: center;
			line-height: 65px;
			cursor: pointer;
			transition: all 0.2s;

			&:hover {

				background-color: $orange;
				color: $buttom-font;
			}
		}
	}
	.questions {
		margin: 15px 16px 0;
		
		&__item {
			position: relative;
			display: flex;
			align-items: center;
			font-family: $roboto-font;
			height: 40px;
			background-color: $list-white;
			margin-bottom: 7px;
			box-shadow: 1px 1px 2px darken($list-grey, 20%);
			cursor: pointer;
			transition: all 0.2s;

			&:hover {
				background-color: $list-activ-grey;
			}
			&-number {
				flex-basis: 10%;
				text-align: center;
				font-size: 14px;
				color: #414042;
			}

			&-text {
				font-size: 10px;
				font-weight: 300;
				color: #6d6e71;
			}

			&-count {
				display: block;
				width: 25px;
				height: 25px;
				position: absolute;
				right: 15px;
				border-radius: 50%;
				font-size: 13px;
				font-weight: 400;
				text-align: center;
				line-height: 25px;
				color: #414042;
				background-color: $list-orange;

			}
		}
		&__add-item {
			display: block;
			width: 25px;
			height: 25px;
			margin: 15px auto;
			border-radius: 50%;
			background: $list-white;
			box-shadow: 1px 1px 2px darken($list-grey, 20%);
			font-family: $roboto-font;
			text-align: center;
			font-weight: 500;
			line-height: 25px;
			cursor: pointer;
			transition: all 0.2s;

			&:hover {
				background-color: $list-activ-grey;
			}
		}
	}
	&__button-end {
		display: block;
		margin: auto;
		cursor: pointer;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
@keyframes rotate-reverse {
	0% {
		transform: rotate(0deg) scaleX(-1);
	}
	100% {
		transform: rotate(360deg) scaleX(-1);

	}
}

@keyframes left {
	0% {
		left: 0;
	}
	25% {
		left: -8px;
	}
	75% {
		left: 6px;
	}
	100% {
		left: 0;
	}
}
@keyframes right {
	0% {
		left: 0;
	}
	25% {
		left: 8px;
	}
	75% {
		left: -6px;
	}
	
	100% {
		left: 0;
	}
}

