* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background-color: $main-background;
}
.edit-story {
    margin-top: 50px;
    &__container-form-edit {
        max-width: 480px;
        padding: 30px;
        margin: 0 auto;
        background: $list-white;
        -webkit-box-shadow: 1px 1px 1px 1px $font-grey;
                box-shadow: 1px 1px 1px 1px $font-grey;
    }
    &__form-edit-title {
        text-align: center;
        font-family: 'Ubuntu',sans-serif;
        font-size: 24px;
    }
    &__edit-container-field {
        padding: 18px 0 0;
    }
    &__edit-form-label {
        display: block;
        font-size: 20px;
        color: $orange;
        font-family: 'Ubuntu',sans-serif;
        padding: 0 0 10px;
    }
    &__edit-form-input {
        width: 100%;
        padding: 5px 0 5px 15px;
        border: 1px solid $list-activ-grey;
        font-size: 20px;
    }
    &__edit-container-buttons {
        padding: 15px 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    &__edit-save-button,
    &__edit-cancel-button,
    &__edit-delete-button {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
        cursor: pointer;
        display: block;
    }
    &__add-edit-add {
       width: 25px;
       font-size: 18px;
       text-align: center;
       height: 25px;
       line-height: 28px;
       border-radius: 50%;
       margin: 0 auto;
       cursor: pointer;
       -webkit-box-shadow: 1px 1px 1px 1px $font-grey;
               box-shadow: 1px 1px 1px 1px $font-grey;
       background-color: $orange;
       color: $buttom-font;
    }
    &__edit-container-buttons {
        padding: 60px 0 0;
    }
    &__edit-save-button {
        @include buttons-orange (140px, 5px, 18px);
    }
    &__edit-cancel-button,
    &__edit-delete-button {
        @include buttons-grey (140px, 5px, 18px);
    }
}