@media only screen and (min-width:320px) and(max-width:767px) {
    .header {
        &__user-image {
            display: block;
            width: 25px;
        }
    }
    .main {
        &__container-form-edit {
            /*border: 1px solid red;
            max-width: 480px;
            padding: 30px;
            margin: 0 auto;*/
            background: transparent;
            box-shadow: 1px 1px 1px 1px transparent;
        }
        /*&__form-edit-title {
            text-align: center;
            font-family: 'Ubuntu',sans-serif;
            font-weight: bold;
            font-size: 24px;
        }*/
        /*&__edit-container-field {
            padding: 18px 0 0;
            /*border: 1px solid red;
        }*/
        &__edit-form-label {
            /*display: block;*/
            font-size: 18px;
            /*color: $orange;
            font-family: 'Ubuntu',sans-serif;
            padding: 0 0 10px;*/
        }
        &__edit-form-input {
            /*width: 100%;
            padding: 5px 0 5px 15px;
            border: 1px solid $list-activ-grey;*/
            font-size: 18px;
            border: 2px solid transparent;
            border-bottom: 2px solid $list-activ-grey;
            background: transparent;
        }
        &__edit-container-buttons {
            padding: 25px 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        &__edit-save-button,
        &__edit-cancel-button,
        &__edit-delete-button {
            flex-basis: 34%;
            margin-top: 10px;
            /*cursor: pointer;
            display: block;*/
        }
        /*&__add-edit-add {
        @include button(25px, 0 0, #FF6C00, 18px, #FFBA57); 
        text-align: center;
        height: 25px;
        line-height: 22px;
        border-radius: 50%;
        margin: 0 auto;
        cursor: pointer;
        }
        &__edit-container-buttons {
            padding: 60px 0 0;
        }
        &__edit-save-button {
            @include button(142px, 8px 0, #FF6C00, 15px, #FFBA57);
        }
        &__edit-cancel-button,
        &__edit-delete-button {
            @include button(142px, 8px 0, $buttom-grey, 15px, $form-font);
        }*/
    }
}