@media only screen and(max-width:767px) {
    .header {
        &__user-image {
            display: block;
            width: 25px;
        }
    }
    .edit-story {
        &__container-form-edit {
            background: transparent;
            -webkit-box-shadow: 1px 1px 1px 1px transparent;
                    box-shadow: 1px 1px 1px 1px transparent;
        }
        &__edit-form-label {
            font-size: 18px;
        }
        &__edit-form-input {
            font-size: 18px;
            border: 2px solid transparent;
            border-bottom: 2px solid $list-activ-grey;
            background: transparent;
        }
        &__edit-container-buttons {
            padding: 45px 0 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }
        &__edit-save-button,
        &__edit-cancel-button,
        &__edit-delete-button {
            -ms-flex-preferred-size: 34%;
                flex-basis: 34%;
            margin-top: 10px;
        }
    }
}