.create-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0 auto;

  .form {
    display: flex;
    flex-direction: column;

    &__button-create {
      
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 290px;
      height: 40px;
      background-color: $buttom-font;
      font-family: $roboto-font;
      font-size: 16px;
      color: $font-grey;
      border: none;
      box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.75);
      margin: 8px 0;
      transition: background-color 0.2s;
      &:before {
        content: url("../../img/create_game/plus.svg");
        margin-right: 15px;
      }
    }
    &__button-saved {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 290px;
      height: 40px;
      background-color: $buttom-font;
      border: none;
      box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.75);
      font-family: $roboto-font;
      font-size: 16px;
      color: $font-grey;
      margin: 8px 0;
      transition: background-color 0.2s;
      &:before {
        content: url("../../img/create_game/list.svg");
        margin-right: 15px;
      }
    }
    &__create {
      //display: none;
    }

    &__title {
      display: none;
    }

    &__title-min {
      margin: 10px 0 1px;
      color: $orange;
      font-family: $roboto-font;
    }

    &__input {
      width: 99%;
      height: 30px;
      border: none;
      border-bottom: 2px solid #cbcdce;
      background-color: $main-background;
      &_min {
        border-bottom: 1px solid #cbcdce;
      }
    }
    &__button-add {
      cursor: pointer;
      display: block;
      background: $buttom-font url("../../../img/create_game/plus.svg") center center ;
      height: 19px;
      width: 19px;
      border: none;
      border-radius: 50%;
      margin: 10px auto;
      &:hover {
        //cursor: pointer;
      }
    }

    &__button-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__button-cancel {
      @include buttons-grey (142px, 6px, 15px);
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      /*cursor: pointer;
      height: 30px;
      width: 142px;
      background-color: $buttom-grey;
      font-family: $ubuntu-font;
      font-size: 15px;
      font-weight: 500;
      color: $buttom-font;
      margin-top: 8px;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.75);
      transition: background-color 0.2s;*/
      &:hover {
        @include buttons-orange (142px, 6px, 15px);
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        /*background-color: $orange;*/
      }
    }
    &__button-game {
      cursor: pointer;
      height: 30px;
      width: 142px;
      background-color: $buttom-grey;
      font-family: $ubuntu-font;
      font-size: 15px;
      font-weight: 500;
      color: $buttom-font;
      margin-top: 8px;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.75);
      transition: background-color 0.2s;
      &:hover {
        background-color: $orange;
      }
    }
  }

}

