.create-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0 auto;

  .form {
    display: flex;
    flex-direction: column;

    &__button-create {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 290px;
      height: 40px;
      background-color: $buttom-font;
      font-family: $roboto-font;
      font-size: 16px;
      color: $font-grey;
      border: none;
      box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3S);
      transition: background-color 0.2s;
    }
    &__button-saved {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 290px;
      height: 40px;
      background-color: $buttom-font;
      font-family: $roboto-font;
      font-size: 16px;
      color: $font-grey;
      border: none;
      box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
    }
    &__create {
      padding: 20px;
    }

    &__title {
      font-size: 0;
    }

    &__title-min {
      color: $orange;
      font-family: $roboto-font;
      font-size: 16px;
    }

    &__input {
      background: transparent;
      width: 98%;
      height: 30px;
      padding-left: 10px;
      margin-bottom: 20px;
      color: $font-grey;
      font-size: 13px;
      border: none;
      border-bottom: 1px solid #cbcdce;
      &::placeholder {
        color: $form-font;
      }
      &:focus {
        outline: transparent;
      }
      &_min {
        border-bottom: 1px solid #cbcdce;
      }
    }
    &__button-add {
      cursor: pointer;
      display: block;
      background: $buttom-font url("../../../img/create_game/plus.svg") center center ;
      height: 19px;
      width: 19px;
      border: none;
      border-radius: 50%;
      margin: 15px auto;
      &:active {
        outline: none;
        transition: all 1s;
        -webkit-transform: scale(.8,.8);
        -moz-transform: scale(.8,.8);
        -ms-transform: scale(.8,.8);
        -o-transform: scale(.8,.8);
        transform: scale(.8,.8);
      }
    }

    &__button-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    &__button-cancel {
      @include buttons-grey (142px, 6px, 15px);
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      font-family: $ubuntu-font;
      font-weight: 500;
      margin-top: 6px;
      cursor: pointer;
      &:hover {
        @include buttons-orange (142px, 6px, 15px);
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &:active {
        outline: none;
        transition: all 1s;
        -webkit-transform: scale(.9,.9);
        -moz-transform: scale(.9,.9);
        -ms-transform: scale(.9,.9);
        -o-transform: scale(.9,.9);
        transform: scale(.9,.9);
      }
    }
    &__button-game {
      @include buttons-grey(142px, 6px, 15px);
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      font-family: $ubuntu-font;
      font-weight: 500;
      margin-top: 6px;
      cursor: pointer;
      &:hover {
        @include buttons-orange (142px, 6px, 15px);
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &:active {
        outline: none;
        transition: all 1s;
        -webkit-transform: scale(.9,.9);
        -moz-transform: scale(.9,.9);
        -ms-transform: scale(.9,.9);
        -o-transform: scale(.9,.9);
        transform: scale(.9,.9);
      }
    }

    .button-create {

      &__svg-plus {
        width: 28px;
        height: 28px;
        margin-right: 15px;

        &_active-path {
          fill: $orange;
        }
        &_secondary-path {
          fill: #fff;
        }
      }
    }

    .button-saved {

      &__svg-list {
        width: 28px;
        height: 28px;
        margin-right: 15px;

        &_active-path {
          fill: $orange;
        }
        &_secondary-path {
          fill: #fff;
        }
      }
    }
  }
}