/*colors*/
$main-background: #F1F2F2;
$primary-dark-font: #3F3E40;
$font-grey: #808386;
$orange: #FF6C00;
$form-font: #D1D4D5;
$form-border: #F0F0F1;
$form-title-darkblue: #132752;
$buttom-font: #ffffff;
$buttom-grey: #D1D4D5;
$list-grey: #F1F2F2;
$list-activ-grey: #D1D4D5;
$list-orange: #FFB077;
$list-activ-orange: #FEA067;
$footer-font-grey: #E5E7E7;
$footer-background: #3F3E40;

/*fonts*/
$roboto-font: 'Roboto', sans-serif;
$ubuntu-font: 'Ubuntu', sans-serif;

/*Mixin*/
@mixin button ($width, $padd, $bagcol, $fs, $bordcol){
    width: $width;
    padding: $padd;
    background-color: $bagcol;
    font-size: $fs;
    color: #ffffff;
    border-radius:  4px;
    font-family: "Ubuntu";
    border-color: $bordcol;
}